@import 'stylesheet';

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;

  .input-group {
    width: 50%;
    margin-bottom: 2rem;
  }

  .book-list {
    list-style: none;
    color: $primary;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    .input-group {
      width: 100%;
    }
  }
}

.page-link {
  color: $primary !important;
}

.pagination-btn-active {
  .page-link {
    background-color: $primary !important;
    color: #fff !important;
  }
}